#header-logo {
  background-image: url("../../assets/images/hiKing-logo-small.png");
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 150px;
  height: 50px;
}

