<div class="col-sm-4">
  <div class="thumbnail">
  <img class="card-img-top" src="{{hiking.photo}}" alt="Card image cap">
    <div class="caption">
      <div class="divfixheight" >
      <h3>{{hiking.title}}</h3>
      </div>
    <ul class="list-group">
      <li class="list-group-item">Départ : {{hiking.startLocalization}}</li>
      <li class="list-group-item">Arrivée : {{hiking.endLocalization}}</li>
      <li class="list-group-item">Distance : {{hiking.distance}} Km</li>
      <li class="list-group-item">Date : {{hiking.date}}</li>
      <li *ngIf="hiking.price" class="list-group-item">Prix : {{hiking.price}} &euro;</li>
      <li *ngIf="!hiking.price" class="list-group-item">Prix : Libre</li>
    </ul>
    <div class="card-block text-center">
      <button [routerLink]="['/hiking', hiking.id]" type="button" class="btn btn-primary">Consulter</button>
    </div>
</div>
</div>
</div>
