<div class="col-sm-4">
  <div class="thumbnail">
  <img class="card-img-top" src="https://media.deseretdigital.com/file/2187773984?crop=top:0|left:0|width:940|height:500|gravity:Center&quality=55&interlace=none&resize=width:940&order=resize,crop&c=14&a=8e1c7dfe" alt="Card image cap">
    <div class="caption">
      <h3>Départ : {{hiking.startLocalization}}</h3>
    <ul class="list-group">
      <li class="list-group-item">Arrivé : {{hiking.endLocalization}}</li>
      <li class="list-group-item">Distance : {{hiking.distance}} Km</li>
      <li class="list-group-item">Date : {{hiking.date}}</li>
      <li class="list-group-item">Prix : {{hiking.price}} €</li>
    </ul>
    <div class="card-block">
      <button (click)="showHiking()" type="button" class="btn btn-primary">S'inscrire</button>
    </div>
</div>
</div>
</div>
