<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="row">
    <div class="center">
    <div class="col-xs-4">
      <div class="input-group">
        <input type="text" name="location" class="form-control" placeholder="Localisation" formControlName="localisation">
        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="input-group">
        <input type="text" name="datedepart" class="form-control" placeholder="Date de depart" formControlName="datedepart">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="input-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-default">Rechercher</button>
      </div>
    </div>
    </div>
  </div>
</form>
