<div class="panel panel-primary" style="margin:20px;">
  <div class="panel-heading" *ngIf="hiking.title">
    {{hiking.title}}
    <span class="pull-right">Le {{hiking.date}}</span>
  </div>
  <div class="panel-body">
<div *ngIf="hiking">

  <img class="img-rounded center-block" *ngIf="hiking.photo" width="350" src="{{ hiking.photo }}"/>
  <img class="img-rounded center-block" *ngIf="!hiking.photo" width="350" src="https://media.deseretdigital.com/file/2187773984?crop=top:0|left:0|width:940|height:500|gravity:Center&quality=55&interlace=none&resize=width:940&order=resize,crop&c=14&a=8e1c7dfe"/>


  <h4>Guide</h4>
  <hr class="separator">

  <app-card-user *ngIf="guide" [user]="guide"></app-card-user>


  <div class="row">

    <div class="col-xs-6">
  <h4>Itinéraire</h4>
  <hr class="separator">

  <table class="table borderless">
    <tbody>
    <tr>
      <th scope="row">Lieu de départ</th>
      <td>{{hiking.startLocalization}}</td>
    </tr>
    <tr>
      <th scope="row">Lieu d'arrivée</th>
      <td>{{hiking.endLocalization}}</td>
    </tr>
    <tr>
      <th scope="row">Durée</th>
      <td>{{hiking.duration}}</td>
    </tr>
    <tr>
      <th scope="row">Distance</th>
      <td>{{hiking.distance}} km</td>
    </tr>
    <tr>
      <th scope="row">Difficulté</th>
      <td>{{hiking.complexity}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{hiking.description}}</td>
    </tr>
    </tbody>
  </table>

    </div>
    <div class="col-xs-6">

  <h4>Modalités</h4>
  <hr class="separator">

  <table class="table borderless">
    <tbody>
    <tr>
      <th scope="row">Nombre de personnes</th>
      <td>De {{hiking.personMinNumber}} à {{hiking.personMaxNumber}}</td>
    </tr>
    <tr>
      <th scope="row">Nombre de places restantes</th>
      <td>{{nbRemainingSpot}}</td>
    </tr>
    <tr>
      <th scope="row">Prix de participation</th>
      <td *ngIf="hiking.price">{{hiking.price}} &euro;</td>
      <td *ngIf="!hiking.price">Libre</td>
    </tr>
    </tbody>
  </table>
    </div>
  </div>

  <div class="row text-center center-block">

    <!-- if user is not guide or already sign in -->
    <div *ngIf="!isGuide && !isAlreadySignIn">
      <!-- if hiking is not full -->
      <div *ngIf="nbRemainingSpot > 0">
        <button (click)="subscribe()" class="btn btn-primary">Participer</button>
      </div>
      <!-- else -->
      <div *ngIf="nbRemainingSpot <= 0">
        <p>Cette randonnée est complète.</p>
      </div>
    </div>

    <div *ngIf="isGuide">
        <button (click)="goToEditRoute()" class="btn btn-primary">Modifier</button>
        <button (click)="subscribe()" class="btn btn-primary">Supprimer</button>
    </div>

    <div *ngIf="isAlreadySignIn">
      <button (click)="unsubscribe()" class="btn btn-primary">Se désinscrire</button>
    </div>


  </div>
</div>
</div>
</div>
