<p>Le {{hiking.date}}</p>

<p class="alert alert-success">Guide</p>

<p class="alert alert-success">Itinéraire</p>

<table class="table">
  <tbody>
  <tr>
    <th scope="row">Lieu de départ</th>
    <td>{{hiking.startLocalization}}</td>
  </tr>
  <tr>
    <th scope="row">Lieu d'arrivée</th>
    <td>{{hiking.endLocalization}}</td>
  </tr>
  <tr>
    <th scope="row">Durée</th>
    <td>{{hiking.duration}}</td>
  </tr>
  <tr>
    <th scope="row">Distance</th>
    <td>{{hiking.distance}} km</td>
  </tr>
  <tr>
    <th scope="row">Difficulté</th>
    <td>{{hiking.complexity}}</td>
  </tr>
  </tbody>
</table>

<p>{{hiking.description}}</p>

<p class="alert alert-success">Modalités</p>

<table class="table">
  <tbody>
  <tr>
    <th scope="row">Nombre de personnes</th>
    <td>De {{hiking.personMinNumber}} à {{hiking.personMaxNumber}}</td>
  </tr>
  <tr>
    <th scope="row">Nombre de places restantes</th>
    <td>{{calculateNbRemainingSpots()}}</td>
  </tr>
  <tr>
    <th scope="row">Prix de participation</th>
    <td>{{hiking.price}} &euro</td>
  </tr>
  </tbody>
</table>

