<<div class="jumbotron">
  <div class="container text-center">
    <p>Professionnel ? Particulier ? Peu importe !<br>
      Avec HiKing organisez les randonnées comme vous voulez<br>
      et participez aux randonnées qui sont faites pour vous !
    </p>
    <br>
    <h3>Rechercher la randonnée qui vous correspond !</h3>
    <app-form-search-hiking></app-form-search-hiking>
  </div>
</div>
<div class="row">
  <app-card-hiking [hiking]="hiking" *ngFor="let hiking of hikings"></app-card-hiking>
</div>
